@import "tailwindcss";

body {
    background-color: rgb(2 6 23);    /* примерно bg-slate-950 */
    color: rgb(248 250 252);          /* text-slate-50 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
